body {
	height: 100%;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	overflow-x: hidden;
}

.container-fluid {
	padding: 0;
}

.row {
	margin: 0;
}

a, input, select, label {
	outline: none;
}

.hamburger--collapse {
	float: right;
	outline: none;
	margin-top: -5px;
	display: none;
}

	.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
		background-color: #2F87E7;
	}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
    color: #9B9B9B;
    font-size: 15px;
    margin-top: 40px;
}

.navbar-brand {
    float: left;
    height: auto;
    padding: 0 15px;
    line-height: 0;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: 0;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    background-color: transparent;
}

	.navbar-default .navbar-nav {
		text-align: center;
	}

		.navbar-default .navbar-nav a {
			color: #2F87E7;
		    height: 46px;
		    line-height: 46px;
		    padding: 0;
		    margin-right: 30px;
		}

			.navbar-default .navbar-nav li:last-child a {
				color: #2F87E7;
				border-radius: 25px;
				border: 1px solid #2F87E7;
			    width: 123px;
			    margin: 0 auto;
			    margin-right: 0;
			}

				.navbar-default .navbar-nav li:last-child a:hover {
					-webkit-box-shadow: 1px 1px 5px 0px rgba(47,135,231,1);
					-moz-box-shadow: 1px 1px 5px 0px rgba(47,135,231,1);
					box-shadow: 1px 1px 5px 0px rgba(47,135,231,1);
				}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: #2F87E7;
}

.homepage .row .col-lg-8 h1 {
	font-size: 42px;
	color: black;
	margin-top: 150px;
}

.homepage .row .col-lg-8 h3 {
	font-size: 18px;
	color: #9B9B9B;
	margin: 20px 0 40px 0;
}

.homepage .row .col-lg-8 input{
    width: 273px;
    height: 50px;
    border-color: #7ED321;
    border-radius: 25px;
	background: #FFFFFF;
	border: 2px solid #F0F0F0;
	-webkit-box-shadow: 0 30px 50px 0 rgba(0,0,0,0.08);
	-moz-box-shadow: 0 30px 50px 0 rgba(0,0,0,0.08);
	box-shadow: 0 30px 50px 0 rgba(0,0,0,0.08);
	padding-left: 20px;
	margin-right: 15px;
	margin-left: -2px;
}

	.homepage .row .col-lg-8 input:focus {
		-webkit-box-shadow: 0 20px 50px 0 rgba(0,0,0,0.08);
		-moz-box-shadow: 0 20px 50px 0 rgba(0,0,0,0.08);
		box-shadow: 0 20px 50px 0 rgba(0,0,0,0.08);
	}

.homepage .row .col-lg-8 a.btn-success {
    color: #fff;
    background-color: #7ED321;
    width: 157px;
    height: 50px;
    font-size: 18px;
    line-height: 35px;
    border-color: #7ED321;
    border-radius: 100px;
}

	.homepage .row .col-lg-8 a.btn-success:hover {
	    background-color: #7bec0a;
	    border-color: #7bec0a;
	}

.homepage .row .col-lg-8 h4 {
	font-size: 15px;
	color: #9B9B9B;
	margin: 45px 0 20px 0;
}

.homepage .row .col-lg-8 img {
	display: block;
	margin-top: 15px;
}

.homepage .row .col-lg-4 img {
    float: right;
    margin-top: 80px;
    margin-left: -2px;
}

.blue-banner {
	background-color: #0FBEFF;
	margin-top: 160px;
}

.blue-banner .row .col-lg-4 {
	padding: 24px 0;
}

.blue-banner .row .col-lg-4 span:last-child {
	display: inline-block;
    width: 136px;
    text-align: left;
    vertical-align: middle;
    margin-left: 15px;
    color: white;
}

.video {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
}

.video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.stocks .row .col-lg-5 img {
	margin-top: 100px;
}

.stocks .row .col-lg-7 h1 {
	font-size: 42px;
	color: black;
	margin-top: 90px;
    line-height: 60px;
}

.stocks .row .col-lg-7 p { 
	font-size: 22px;
	color: #242E38;
	margin: 30px 0;
    max-width: 620px;
	line-height: 36px;
}

.stocks .row .col-lg-7 a.btn-warning { 
    width: 157px;
    height: 50px;
	background: #FFD835;
	border: 1px solid #FFD835;
	border-radius: 100px;
	font-size: 18px;
	color: #242E38;
	letter-spacing: 0;
	line-height: 35px;
	margin-bottom: 100px;
}

	.stocks .row .col-lg-7 a.btn-warning:hover { 
		background: #ffc107;
		color: #242E38;
		border: 1px solid #ffc107;
	}

.green-invoices {
	background: #7ED321;
}

.green-invoices .row .col-lg-6:first-child img {
	margin-top: 100px;
}

.green-invoices .row .col-lg-6 h1 {
	font-size: 42px;
	color: #FFFFFF;
	line-height: 60px;
	margin-top: 90px;
}

.green-invoices .row .col-lg-6 p:nth-child(2) {
	font-size: 22px;
	color: #FFFFFF;
	line-height: 36px;
	margin: 30px 0;
    max-width: 512px;
}

.green-invoices .row .col-lg-6 p:nth-child(3) {
	font-size: 18px;
	color: #FFFFFF;
	line-height: 18px;
}

.green-invoices .row .col-lg-6 a {
	display: inline-block;
	margin-top: 15px;
}

.secured-money .row .col-lg-7 h1 {
	font-size: 42px;
	color: #000000;
	line-height: 60px;
	margin-top: 90px;
}

.secured-money .row .col-lg-7 p {
	font-size: 22px;
	color: #000000;
	line-height: 36px;
	margin: 30px 0;
    max-width: 534px;
}

.secured-money .row .col-lg-7 a.btn-warning { 
    width: 157px;
    height: 50px;
	background: #FFD835;
	border: 1px solid #FFD835;
	border-radius: 100px;
	font-size: 18px;
	color: #242E38;
	letter-spacing: 0;
	line-height: 35px;
	margin-bottom: 100px;
}

	.secured-money .row .col-lg-7 a.btn-warning:hover { 
		background: #ffc107;
		color: #242E38;
		border: 1px solid #ffc107;
}

.secured-money .row .col-lg-5 img {
	margin-top: 100px;
}

.reviews {
	background-color: #0FBEFF;
}

.reviews h1 {
	color: #ffffff;
	font-size: 36px;
	padding: 30px 0 0 15px;
}

.reviews h3 {
	color: #ffffff;
	font-size: 18px;
	margin-bottom: 20px;
}

.reviews #myCarousel .carousel-inner {
    margin: 0 auto;
    max-width: 760px;
}

.reviews #myCarousel .carousel-control {
	background: transparent;
	text-shadow: none;
}

.reviews p {
	color: white;
	font-size: 15px;
	padding: 50px 0;
}

.reviews p span img {
    vertical-align: text-bottom;
}

.pictures {
	margin-bottom: 100px;
}

.pictures .row h1 {
	font-size: 36px;
	color: #0FBEFF;
	letter-spacing: 0.25px;
	line-height: 50px;
    margin: 30px 0;
}

.pictures .row .col-lg-4 {
	margin: 12px 0;
}

.pictures .row .hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.pictures .row .hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(460px, -100px) rotate(180deg);
  -ms-transform: translate(460px, -100px) rotate(180deg);
  transform: translate(460px, -100px) rotate(180deg);
  -webkit-transition: all 0.2s 0.4s ease-in-out;
  transition: all 0.2s 0.4s ease-in-out;
}

.pictures .row .hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.pictures .row .hovereffect h2 {
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.pictures .row .hovereffect p.info {
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  color: #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

 .pictures .row .hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.pictures .row .hovereffect:hover h2 {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.pictures .row .hovereffect:hover p.info {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.get-in-now {
	padding: 35px 0;
	background: #0BBBFE; 
}

.get-in-now h1 {
	font-size: 36px;
	color: #FFFFFF;
	letter-spacing: 0.5px;
	line-height: 41px;
    margin: 8px 0 22px;
}

.get-in-now p {
	font-size: 14px;
	color: #000000;
	letter-spacing: 0.5px;
}

.get-in-now a {
	display: inline-block;
	margin: 20px 10px;
}

.contact-form {
	background-image: url("../images/maps.png");
	background-size: cover;
	background-position: center;
	height: 450px;
	margin-bottom: 150px;
	position: relative;
}

.contact-form form {
	background: #FFFFFF;
	box-shadow: 0 15px 20px 0 rgba(4,21,46,0.10);
	border-radius: 3px;
    width: 80%;
    height: 440px;
    margin: 0 auto;
    margin-top: 160px;
    padding: 45px 60px;
}

.contact-form form h1 {
	margin: 0;
	font-size: 42px;
	color: black;
}

.contact-form form address {
	margin-top: 25px;
}

.contact-form form .title-label {
	color: #939DA7;
	font-size: 15px;
}

.contact-form form .contact-description {
	color: black;
	font-size: 18px;
    margin-bottom: 10px;
    display: block;
}

.contact-form form label, .contact-form form input, .contact-form form textarea {
	display: block;
	background: #FFFFFF;
	width: 100%;
	color: black;
}

/*.contact-form form label {
	padding-top: 40px;
}*/

.contact-form form input {
	height: 50px;
}

.contact-form form input, .contact-form form textarea {
	display: block;
	background: #FFFFFF;
	border: 1px solid #E1E7EC;
	border-radius: 3px;
	margin: 15px 0;
	padding-left: 15px;
}

.contact-form form textarea {
	padding-top: 15px;
}

.contact-form form input[type="submit"] {
	color: #fff;
    background-color: #7ED321;
    width: 157px;
    height: 50px;
    font-size: 18px;
    line-height: 35px;
    border-color: #7ED321;
    border-radius: 100px;
}

	.contact-form form input[type="submit"]:hover {
		background-color: #7bec0a;
		border-color: #7bec0a;
	}

.getting-started {
	background: #0FBEFF;
	padding: 70px 50px;
	color: white;
}

.getting-started h1 {
	font-size: 36px;
}

.getting-started p {
	font-size: 18px;
}

.getting-started .row .col-lg-6 form {
	background: #FFFFFF;
	box-shadow: 0 2px 12px 0 rgba(0,0,0,0.20);
	border-radius: 444px;
    overflow: hidden;
    margin-top: 25px;
    height: 60px;
    padding: 4px;
    width: 441px;
}

.getting-started .row .col-lg-6 form input[type="email"] {
	font-size: 16px;
	color: #A5ADBA;
	letter-spacing: 0;
	border-radius: 444px;
    border: 0;
    padding: 15px 0 14px 20px;
    display: inline-block;
    outline: none;
    float: left;
}

.getting-started .row .col-lg-6 form input[type="submit"] {
	background: #7ED321;
	border-radius: 444px;
	color: #FFFFFF;
	letter-spacing: 0;
    padding: 14px;
    display: inline-block;
    outline: none;
    float: left;
    position: relative;
    left: 62px;
    font-size: 16px;
}

	.getting-started .row .col-lg-6 form input[type="submit"]:hover {
	    background-color: #7bec0a;
	    border-color: #7bec0a;
	}






/* Media Queries */

@media (max-width: 1200px) {
	.homepage .row .col-lg-8 h1 {
	    margin-top: 75px;
	}

	.homepage .row .col-lg-4 img {
	    float: none;
	    margin: 0 auto;
	    margin-top: 80px;
	    display: block;
	}

	.blue-banner {
	    margin-top: 0;
	}

	.contact-form {
	    margin-top: -150px;
	    margin-bottom: 0;
	    height: auto;
	}
	
	.contact-form form {
	    height: auto;
	    margin-bottom: 0;
	}

}

@media (max-width: 992px) {
	.stocks .row .col-lg-5 img, .secured-money .row .col-lg-5 img, .secured-money .row .col-lg-7 h1 {
	    margin-top: 50px;
	}

	.stocks .row .col-lg-7 h1, .green-invoices .row .col-lg-6 h1, .secured-money .row .col-lg-7 h1 {
	    font-size: 30px;
	}
	
	.stocks .row .col-lg-7 p, .green-invoices .row .col-lg-6 p, .secured-money .row .col-lg-7 p {
	    font-size: 18px;
	}

	.secured-money .row .col-lg-5 img {
		margin-bottom: 50px;
	}

	.secured-money .row .col-lg-7 a.btn-warning {
	    margin-bottom: 0;
	}

	.green-invoices .row .col-lg-6 a {
	    margin-bottom: 50px;
	}

	.getting-started .row .col-lg-6 form {
	    width: auto;
	    height: auto;
	    border-radius: 0;
	}

	.getting-started .row .col-lg-6 form input[type="submit"] {
	    float: right;
	    left: 0;
	}

	.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
	    top: 125%;
	}

}

@media (max-width: 767px) {
	.hamburger--collapse {
		display: block;
	}
	.navbar-default .navbar-nav a, .navbar-default .navbar-nav li:last-child a {
	    margin: 0 auto;
	}	

	.homepage .row .col-lg-8 h1 {
	    font-size: 30px;
	}

	.homepage .row .col-lg-8 h3 {
	    font-size: 15px;
	}

	.homepage .row .col-lg-8 a.btn-success {
	    margin-top: 20px;
	}

	.green-invoices .row .col-lg-6 img {
	    max-width: 300px;
	}

	.contact-form form {
	    width: 100%;
	}

	.getting-started {
	    padding: 70px 0;
	}

	.getting-started .row .col-lg-6 form {
	    width: auto;
	    height: auto;
	    border-radius: 0;
	    text-align: center;
	}

	.getting-started .row .col-lg-6 form input[type="email"] {
	    float: none;
	}

	.getting-started .row .col-lg-6 form input[type="submit"] {
	    float: none;
	    left: 0;
	    display: block;
	    margin: 0 auto;
	}

	.reviews h1 {
	    padding: 30px 0;
	}

	.pictures .row img {
	  width: 100%;
	}

	.pictures .row .hovereffect h2 {
	    font-size: 24px;
	}



}

@media (max-width: 475px) {
	.green-invoices .row .col-lg-6 a {
	    display: block;
	    text-align: center;
	    margin-bottom: 15px;
	}
}


















